# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
data/0_gen_x.pt
data/10_gen_x.pt
data/11_gen_x.pt
data/12_gen_x.pt
data/13_gen_x.pt
data/14_gen_x.pt
data/15_gen_x.pt
data/16_gen_x.pt
data/17_gen_x.pt
data/18_gen_x.pt
data/19_gen_x.pt
data/1_gen_x.pt
data/20_gen_x.pt
data/21_gen_x.pt
data/22_gen_x.pt
data/23_gen_x.pt
data/24_gen_x.pt
data/25_gen_x.pt
data/26_gen_x.pt
data/27_gen_x.pt
data/28_gen_x.pt
data/29_gen_x.pt
data/2_gen_x.pt
data/30_gen_x.pt
data/31_gen_x.pt
data/32_gen_x.pt
data/33_gen_x.pt
data/34_gen_x.pt
data/35_gen_x.pt
data/36_gen_x.pt
data/37_gen_x.pt
data/38_gen_x.pt
data/39_gen_x.pt
data/3_gen_x.pt
data/40_gen_x.pt
data/41_gen_x.pt
data/42_gen_x.pt
data/43_gen_x.pt
data/44_gen_x.pt
data/45_gen_x.pt
data/46_gen_x.pt
data/47_gen_x.pt
data/48_gen_x.pt
data/49_gen_x.pt
data/4_gen_x.pt
data/50_gen_x.pt
data/51_gen_x.pt
data/52_gen_x.pt
data/53_gen_x.pt
data/54_gen_x.pt
data/55_gen_x.pt
data/56_gen_x.pt
data/57_gen_x.pt
data/58_gen_x.pt
data/59_gen_x.pt
data/5_gen_x.pt
data/60_gen_x.pt
data/61_gen_x.pt
data/62_gen_x.pt
data/63_gen_x.pt
data/64_gen_x.pt
data/65_gen_x.pt
data/66_gen_x.pt
data/67_gen_x.pt
data/68_gen_x.pt
data/69_gen_x.pt
data/6_gen_x.pt
data/70_gen_x.pt
data/71_gen_x.pt
data/72_gen_x.pt
data/73_gen_x.pt
data/74_gen_x.pt
data/75_gen_x.pt
data/76_gen_x.pt
data/77_gen_x.pt
data/78_gen_x.pt
data/79_gen_x.pt
data/7_gen_x.pt
data/80_gen_x.pt
data/81_gen_x.pt
data/82_gen_x.pt
data/83_gen_x.pt
data/84_gen_x.pt
data/85_gen_x.pt
data/86_gen_x.pt
data/87_gen_x.pt
data/88_gen_x.pt
data/89_gen_x.pt
data/8_gen_x.pt
data/90_gen_x.pt
data/91_gen_x.pt
data/92_gen_x.pt
data/93_gen_x.pt
data/94_gen_x.pt
data/95_gen_x.pt
data/96_gen_x.pt
data/97_gen_x.pt
data/98_gen_x.pt
data/99_gen_x.pt
data/9_gen_x.pt
data/all_time_high.pt
cuda.py
data/rename.py
